# --- Python & Jupyter ---
__pycache__/
*.py[cod]
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# --- Sanal Ortam (Virtual Env) ---
venv/
env/
.venv/

# --- Sistem Dosyaları ---
.DS_Store
Thumbs.db

# --- Veri Dosyaları (Opsiyonel) ---
# Eğer veri setin çok büyükse (GitHub limiti 100MB), aşağıdaki satırın başındaki # işaretini kaldır.
# *.csv
# *.nc